@font-face {
	font-family: omyim;
	src: url(../assets/font/PSL-Omyim.ttf);
}

body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-image: url("../assets/image/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
}

.swal2-popup {
	font-family: omyim !important;
	font-size: 1.2rem !important;
}

.swal2-shown {
    display:flex;
    height:100vh;
}

.ribbon {
	width: 26vw;
	margin-top: 5vh;
	margin-bottom: -4vh;
}

.wheel-back {
	position: absolute;
	align-items: center;
	margin-bottom: 1vh;
}

.img-segment {
	margin-top: 4vh !important;
	width: 23.5%; 
}

.img-bottom-left {
	width: 15vw;
}

.img-bottom-right {
	width: 10vw;
}

.canvasContainer {
	background-image: url("../assets/image/wheel_back.png");
	background-repeat: no-repeat; /* Ensure that background does not repeat */
	background-position: center; /* Ensure image is centred */
	background-size: 26vw auto;
}

@media only screen and (max-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait){
	body {
		background-image: url("../assets/image/background-mobile.png");
		background-size: cover;
		background-repeat:no-repeat;
		z-index: -1;
	}

	.ribbon {
		width: 94vw;
		margin-top: 4vh;
		margin-bottom: 2%;
	}

	.img-segment {
		z-index: 3000;
		margin-top: 6.7% !important;
		width: 88%;
	}

	.canvasContainer {
		background-image: url(../assets/image/wheel_back.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% auto;
		margin-bottom: 0%;
	}
	.img-bottom-left {
		width: 48vw;
	}
	
	.img-bottom-right {
		width: 40vw;
	}
}

@media only screen and (min-device-width: 411px) {
	body {
		background-image: url("../assets/image/background-mobile.png");
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;
	}

	.ribbon {
		width: 94vw;
		margin-top: 4vh;
		margin-bottom: -4%;
	}

	.img-segment {
		/* position: fixed; */
		z-index: 3000;
		margin-top: 3.2vh !important;
		width: 88%;
	}

	.canvasContainer {
		background-image: url(../assets/image/wheel_back.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% auto;
		margin-bottom: 6vw;
}
	.img-bottom-left {
		width: 48vw;
	}
	
	.img-bottom-right {
		width: 40vw;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 736px) and (orientation : portrait) {
    body {
		background-image: url("../assets/image/background-mobile.png");
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;
	}

	.ribbon {
		width: 94vw;
		margin-top: 6vh;
		margin-bottom: -4%;
	}

	.img-segment {
		/* position: fixed; */
		z-index: 3000;
		margin-top: 3.2vh !important;
		width: 88%;
	}

	.canvasContainer {
		background-image: url(../assets/image/wheel_back.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% auto;
		margin-bottom: -4vw;
}
	.img-bottom-left {
		width: 48vw;
	}
	
	.img-bottom-right {
		width: 40vw;
	}
}

@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    body {
		background-image: url("../assets/image/background-mobile.png");
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;
	}

	.ribbon {
		width: 94vw;
		margin-top: 10vh;
		margin-bottom: -4%;
	}

	.img-segment {
		/* position: fixed; */
		z-index: 3000;
		margin-top: 3.2vh !important;
		width: 88%;
	}

	.canvasContainer {
		background-image: url(../assets/image/wheel_back.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% auto;
		margin-bottom: 6vw;
}
	.img-bottom-left {
		width: 48vw;
	}
	
	.img-bottom-right {
		width: 40vw;
	}
    
}

@media only screen and (min-device-width: 768px) and (min-device-height: 1024px) and (orientation: portrait){ 
    body {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-image: url("../assets/image/background.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
    
    .swal2-popup {
        font-family: omyim !important;
        font-size: 1.2rem !important;
    }
    
    .ribbon {
        width: 78vw;
        margin-top: 5vh;
        margin-bottom: -4vh;
    }
    
    .spin-button {
        position: absolute;
        top: 52vh;
        left: 44vw;
        width: 12vw;
    }
    
    .spin-button:hover {
        cursor: pointer;
    }
    
    .spin-button:active{
        width: 11.5vw;
    }
    
    .wheel-back {
        position: absolute;
        align-items: center;
        z-index: 1000;
        margin-bottom: 1vh;
    }
    
    .img-segment {
		margin-top: 3.4vh !important;
        z-index: 3000;
        width: 58%;
    }
    
    .img-bottom-left {
        width: 33vw;
    }
    
    .img-bottom-right {
        width: 33vw;
    }

    .canvasContainer {
		background-image: url(../assets/image/wheel_back.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 64vw auto;
        margin-bottom: 0
	}
}

@media only screen and (min-device-width: 540px) and (min-device-height: 720px) and (orientation: portrait){ 
    body {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-image: url("../assets/image/background.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
    
    .swal2-popup {
        font-family: omyim !important;
        font-size: 1.2rem !important;
    }
    
    .ribbon {
        width: 78vw;
        margin-top: 5vh;
        margin-bottom: -4vh;
    }
    
    .spin-button {
        position: absolute;
        top: 52vh;
        left: 44vw;
        width: 12vw;
    }
    
    .spin-button:hover {
        cursor: pointer;
    }
    
    .spin-button:active{
        width: 11.5vw;
    }
    
    .wheel-back {
        position: absolute;
        align-items: center;
        z-index: 1000;
        margin-bottom: 1vh;
    }
    
    .img-segment {
		margin-top: 3.4vh !important;
        z-index: 3000;
        width: 60%;
    }
    
    .img-bottom-left {
        width: 33vw;
    }
    
    .img-bottom-right {
        width: 33vw;
    }

    .canvasContainer {
		background-image: url(../assets/image/wheel_back.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 64vw auto;
        margin-bottom: 0
	}
}

@media only screen and (min-width: 1024px) { 
    body {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-image: url("../assets/image/background.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
    
    .swal2-popup {
        font-family: omyim !important;
        font-size: 1.2rem !important;
    }
    
    .swal2-shown {
        display:flex;
        height:100vh;
    }
    
    .ribbon {
        width: 26vw;
        margin-top: 5vh;
        margin-bottom: -4vh;
    }
    
    .wheel-back {
        position: absolute;
        align-items: center;
        margin-bottom: 1vh;
    }
    
    .img-segment {
        margin-top: 4vh !important;
        width: 23.5%; 
    }
    
    .img-bottom-left {
        width: 15vw;
    }
    
    .img-bottom-right {
        width: 10vw;
    }
    
    .canvasContainer {
        background-image: url("../assets/image/wheel_back.png");
        background-repeat: no-repeat; /* Ensure that background does not repeat */
        background-position: center; /* Ensure image is centred */
        background-size: 26vw auto;
        margin-bottom: 0vw;
    }
    
} 

@media only screen and (max-device-width: 1080px ) and (min-device-height: 1025px) and (orientation : portrait){
	body {
		background-image: url("../assets/image/background-mobile.png");
		background-size: cover;
		background-repeat:no-repeat;
		z-index: -1;
	}

	.ribbon {
		width: 94vw;
		margin-top: 9vh;
		margin-bottom: 2%;
	}

	.img-segment {
		z-index: 3000;
		margin-top: 6.7% !important;
		width: 88%;
	}

	.canvasContainer {
		background-image: url(../assets/image/wheel_back.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% auto;
		margin-bottom: 0%;
	}
	.img-bottom-left {
		width: 48vw;
	}
	
	.img-bottom-right {
		width: 40vw;
	}
}